@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

a:hover {
    background-color: rgba(58, 58, 58, 0.288);
    border-radius: 10px;
    padding: 0px 2px 0px 2px;
}

body {
    background-image: url(../links-pessoais2.0/estilos/imagens/fundo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

